{
  "attachments":[
    {
        "fallback":"Cloud Custodian Policy Violation",
        "title":"{{ action['title'] }}",
        "color":"{{ action['slack_msg_color']|default("danger") }}",
        "text": "*EC2 Resources:*\n{%- for resource in resources -%}
                *{{loop.index}}.* **InstanceId:* {{ resource['InstanceId'] }}, Name:* {{ resource_tag(resource, 'Name') }}\n
                {%- endfor -%}",
        "fields":[
          {
              "title":"Account",
              "value":"{{ account }}",
              "short": true
          },
          {
              "title":"Region",
              "value":"{{ region }}",
              "short": true
          },
          {
              "title":"Description",
              "value":"{{ action['description'] }}"
          }
        ]
    }
  ],
  {%- if not recipient.startswith('https://') %}
  "channel":"{{ recipient }}",
  {%- endif -%}
  "username":"CloudCustodianBot"
}
